* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0f0f0f;
  color: #e0e0e0;
}

body {
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 80px);
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

